<h1>Recipe!</h1>

<form action="/" method="post">
  <div>
    <label for="recipe[title]">Title:</label>
      <input name="recipe[title]">
  </div>
  <div>
    <label for="recipe[recipe]">Description:</label>
      <input name="recipe[recipe]">
  </div>
  <div>
    <label for="recipe[servings]">Servings:</label>
      <input name="recipe[servings]">
  </div>
  <div>
    <label for="course[title]">Course:</label>
      <input name="course[title]">
  </div>
  <div>
    <label for="ingredient[name]">Ingredients:</label>
      <input name="ingredient[name]">
  </div>
  <div>
  <input type="submit" value="Create">
  </div>
</form>